EXPO_PUBLIC_API_BASE_URL=https://carrental-api-x74e.onrender.com/api
EXPO_PUBLIC_SIGNALR_URL=https://carrental-api-x74e.onrender.com/hubs/notifications
EXPO_PUBLIC_TUS_URL=https://carrental-api-x74e.onrender.com/files
EXPO_PUBLIC_ADMIN_API_KEY=
